
<center>
<%= image_tag @slide.urlpage, :size => "900x700" %>
<%= form_for ([@slide, @comments.new]) do |f| %>
   <div class="actions">
    <%= f.label :Addcomment %>
    <%= f.text_field :content %>
    <%= f.submit %>
  </div>
<% end %>
<% @comments.each do |f|  %>
 <div class=<%= cycle("commentdesgin","commentdesgintwo") %>>
 <%=f.content %>
 <br>
 </div>
<% end %>
</center>


