<p id="notice"><%= notice %></p>

<h1 class="des" >Listing Lectures</h1>
<br>
<table>
  <thead>
    <tr>
      <th class="des1">List of files</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td  ><%= lecture.my_file.to_s.split('/').last %></td>
        <td><%= link_to 'Show', lecture %></td>
        <td><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
        <td><%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'upload a new file', new_lecture_path %>
