<p id="notice"><%= notice %></p>

<p class="des">
  <strong> your file:</strong>
  <%= @lecture.my_file.to_s.split('/').last %>
</p>
   <br>
   
  <% @slides.each do  |page| %>
  <%= image_tag page.urlpage, :size => "300x280" %>
   <%= link_to 'Show', [@lecture, page] %>
 	
  	<% end %>
<br>
<%= link_to 'Back to list of the files', lectures_path %>
